/* --------------------------------------------------
   basic styles
-----------------------------------------------------*/

/* --------------------------------------------------
  Global resets
-----------------------------------------------------*/
html {
	/*background: #ccc;*/
}
body {
	font-family: 'Noto Serif', serif;
	font-weight: 400;
	font-style: normal;
	background: white;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-size: 1em;
	direction: ltr;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	font-family: 'Noto Serif', serif;
	font-weight: normal;
	margin-bottom: 1em;
}
a {
	color: white;
	text-decoration: none;
	line-height: inherit;
}
a:hover {
	color: #213149;
	text-decoration: underline;
}

a:focus {
	color: #42659A;
	outline: none;
}
img, object, embed {
	max-width: 100%;
	height: auto;
}
.button {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	width: auto;
	background: #42659A;
	border: 1px solid #213149;
	color: white;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	margin: 0;
	outline: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
}
.search-form .button {
	background: #333;
	border-radius: 3px;
	position: static;
}
.button:hover {
	color: white;
	background-color: #213149;
	text-decoration: none;
}
.action {
	display:block;
	text-align: right;
}
.left {
	float: left;
}
.right {
	float: right;
}

#tabs > ul > .active{
	background: white; /* old browsers */
	cursor:pointer;
}
/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.cr {
	clear: right;
}
.cl {
	clear: left;
}
.cb {
	clear: both;
}
/* --------------------------------------------------
   top navigation styles
-----------------------------------------------------*/
header.background {
	background: #e6e6e6;
}

.background-white {
	background: white;
}

.background-grey {
	background: rgba(230, 230, 230, 0.70);
}

.headContainer {
	width: 95%;
	margin: 0 auto;
}

.headContainer h1, .headContainer h2 {
	text-indent: -9999px;
}

.siteBranding {
	margin-left: -10em;
}

div.navAndSocial{
	width: 75%;
	margin-top: .25em;
}


img.flowRight {
	margin-left: .5em;
	flex-flow: wrap;
	width: 30px;
	height: 30px;
}

nav ul, nav li {
	padding: 0;
	margin: 0;
	list-style: none;
	min-height: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #666;
}

.social nav li {
	color: #c44e18;
}

nav ul li a:not(.button) {
	color: #666;
	margin: 0 .5em;
	padding: .25em .1em;
	display: block;
	max-width: 8em;
	box-sizing: content-box;
}

nav ul li:hover {
	background: #999;
}
nav ul li.search-form:hover {
	background: none;
}
nav ul li.search-form label {
	position: absolute;
	left: -9000px;
}
nav li a:hover {
	text-decoration: none;
}
nav li.search-form input[type="search"] {
	width: 150px;
}

div.social {
		padding-top: .5em;
}
/* --------------------------------------------------
  header styles
-----------------------------------------------------*/
header {
	min-height: 75px;
}
header h1 {
	font-size: 48px;
	font-weight:bold;
	margin-left: 2em;
	line-height:100px;
}

.generic {
	color: #42659A;
}
header h2 {
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
	color: #666;
	text-transform: lowercase;
}
/* --------------------------------------------------
   featured article styles
-----------------------------------------------------*/
.featured {
	 padding: 5em 0 2em 5em;
	 max-width: 80%;
}

.featured h2 {
	color: #666;
	font-weight: 200;
	font-size: 1.5em;
	margin: 0 0 1em;
}

.featured h3 {
	font-size: 2.5em;

}

.list-inline {
  margin: 0 auto;
  padding: 0;
  list-style: none;
	display: flex;
	justify-content: space-around;
	width: 90%;
}

ul.list-inline>li {
	width: 150px;
	height: 150px;
	background-color: #c44e18;
	border-radius: 50%;
	line-height: 1em;
	color: #e6e6e6;
    font-weight: bold;
    text-align: center;

		display: flex;
		flex-flow: column;
		justify-content: space-around;
		align-items: center;
}

.boxes img {
	width: 40%;
	height: 40%;
	margin-bottom: -2.5em;
}

div.boxes {
	margin-top: -5em;
	margin-bottom: -4.5em;
}

div.background-featured {
	height: 25em;
}

.background-featured {
  background-image: url("../_images/slide.png");
  background-size: cover
}

.featured p {
	font-size: 1.25em;
	line-height: 1.6;
}

.featured .teaser {
	margin-bottom: 0;
}

.featured img.teaser {
	margin-bottom: 1em;
	width: 100%;
}

/* --------------------------------------------------
   infoBox styles
-----------------------------------------------------*/
article.gradient {
	background-color: #748838;
	background-image:
	radial-gradient(
		circle at top,
		#96b55c,
		#748838
	);
}

section.mainInfo {
	padding-top: 5em;
}

.infoBox {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin: 0 auto;
	width: 80%;
}

.boxText {
	width: 60%;
	margin: 0 1em 1em 1em;
}

.boxImage {
	width: 33%;
}

.boxImage>img {
	width: 100%;
	margin-right: 1em;
}

div.urgentContact {
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;
	width: 80%;
	padding-bottom: 2em;
}

.urgentContact h3 {
	color: white;
	font-weight: 200;
	font-size: 1.5em;
	margin: 0 1em;
}

.urgentContact>img {
	margin-left: 1em;
}

/* --------------------------------------------------
   services styles
-----------------------------------------------------*/
section.services {
			background-color: #e6e6e6;
			padding-bottom: 4em;
			padding-top: 5em;
}

div.services {
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;
		width: 80%;
	}

	.services h3 {
		text-align: right;
		width: 80%;
		color: #61b594;
		font-weight: bold;
		font-size: 2.5em;
		font-style: italic;
		margin: 1em 3em 1em;
		padding: .5em 1em;
		border-bottom: 1px solid #61b594;
	}

	div.list {
		display: flex;
		flex-flow: row;
		margin: 0 1em;
		padding-bottom: 3em;
		justify-content: space-around;
		width: 80%;
	}

	div.list>ul {
		list-style: none;
		margin: 0 .5em;
	}

	.list ul>li {
		display: flex;
		align-items: center;
		margin: 1.5em .5em;
		padding: .25em .1em;
	}

	img.flowLeft {
		margin-right: 1em;
	}
	/* --------------------------------------------------
		 header title styles
	-----------------------------------------------------*/

	.title {
		margin: 0 auto;
		 padding: 3em 0;
		 max-width: 80%;
	}

	.title h2 {
		color: #61b594;
		font-weight: 200;
		font-size: 2.5em;
		font-style: normal;
		padding: .5em .5em;
		text-transform: none;

	}

	.title h3 {
		color: #61b594;
		font-weight: bold;
		font-size: 1.5em;
		padding: .5em 1em;
		border-top: 1px solid #61b594;
    background-color: #e6e6e6;
	}

	/* --------------------------------------------------
	   aside styles
	-----------------------------------------------------*/
 .navAndinfo {
	 background-color: white;
	 display: flex;
	 justify-content: space-around;
	 margin: 0 auto;
	 width: 80%;
	 padding-bottom: 5em;
 }

section.info {
		width: 70%;
		margin: 0 auto;
}

	div.info {
		display: flex;
		flex-flow: column;
		justify-content: space-around;
		align-items: center;
		margin: 0 1em;
	}

	.infoText {
		margin: 1em 1em;
		text-align: justify;
	}


	.infoImage>img {
		width: 100%;
		margin-right: 1em;
	}

	aside.sidebar {
		width: 30%;
		margin: 0 auto;
	}

	.list-sidebar {
    margin: 1em 1em;
		list-style: none;
}

.list-sidebar ul>li {
	display: flex;
	align-items: center;
	margin: .5em .5em;
	padding: .25em .1em;
}

.list-sidebar ul li a:not(button) {
color: #61b594;
text-decoration: none;
line-height: inherit;
}


	/* --------------------------------------------------
	   sitemap styles
	-----------------------------------------------------*/
	section.siteMap {
		display: flex;
		flex-flow: row;
		justify-content: space-around;
		align-items: center;
		margin: 0 auto;

	}

	div.siteMap {
		display: flex;
		flex-flow: row;
		margin: 0 1em;
		padding-top: 4em;
		padding-bottom: 5em;
		justify-content: space-around;
		width: 80%;
		border-top: 1px solid white;
		}

	div.siteMap>ul {
			list-style: none;
			margin: 0 .5em;
		}

.siteMap ul>li {
	display: flex;
	align-items: center;
	margin: .5em .5em;
	padding: .25em .1em;
	font-size: .9em;
	color: white;
}

.siteMap h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
	margin-bottom: 1em;
}

div.tweetBox {
	height: 320px;
	width: 30%;
	margin-left: 1em;
	background-color: #e6e6e6;
	-webkit-box-shadow: 5px 9px 25px -5px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 5px 9px 25px -5px rgba(0, 0, 0, 0.55);
    -ms-box-shadow: 5px 9px 25px -5px rgba(0, 0, 0, 0.55);
    -o-box-shadow: 5px 9px 25px -5px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 9px 25px -5px rgba(0, 0, 0, 0.55);
}

.tweetBox h3 {
	font-family: 'Open Sans', sans-serif;
font-weight: 400;
font-size: 1.2em;
margin: 1em 1.5em;
color: #61b594;
border-bottom: 1px solid #61b594;
}

/* --------------------------------------------------
   sidebar styles
-----------------------------------------------------*/
aside h3 {
	color: #333;
	font-size: 1.6em;
	margin-top: 2em;
	margin-bottom: .4em;
}
aside p {
	font-family: Lato, Arial, sans-serif;
	font-size: 15px;
	line-height: 2;
	font-style: normal;
}
.call {
	font-weight: 900;
	color: #42659A;
}
ul.social {
	list-style: none;
	margin-top: 1.5em;
	border-top: 1px solid white;
	padding-top: 1.5em;
}

ul.social>li {
		color: #c44e18;
}

ul.social li a {
	width: 35px;
	height: 35px;
	display: block;
}
ul.social li a.twitter {
	background: url(../_images/social_twitter_35.png) no-repeat;
}
ul.social li a.rss {
	background: url(../_images/social_rss_35.png) no-repeat;
}
/* --------------------------------------------------
   spotlight styles
-----------------------------------------------------*/
.spotlight {
	margin-bottom: 2em;
}
.latest {
	margin-right: 2em;
	border:1px solid #999;
}
.latest:last-child {
	margin-right: 0;
}

/* --------------------------------------------------
   footer styles
-----------------------------------------------------*/
footer {
	background: #61b594;
}
footer p {
	font-size: .8em;
	color: white;
	margin: 0;
}
/* --------------------------------------------------
   Smaller screen styles
-----------------------------------------------------*/
@media only screen and (max-width: 720px) {

.right, .left {
	float: none;
}
/* --------------------------------------------------
   top navigation styles
-----------------------------------------------------*/
nav {
	background: none;
	margin-bottom: 1em;
}

nav li {
	background: #42659A;
	margin-bottom: .2em;
}
nav ul li a:not(.button) {
	max-width: 100%;
	width:100%;
	display: block;
	text-align: center;
	margin: 0;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 1.6em;
}
nav li.search-form {
    background: none;
}
nav li.search-form input[type="search"] {
	width: 200px;
}
/* --------------------------------------------------
  header styles
-----------------------------------------------------*/
header {
	margin-bottom: 2em;
	min-height: 100px;
}
header h1 {
	margin: 0;
	width: 215px;
	background: url(../_images/gb-logo-215.png) no-repeat center;
	text-indent: -9000em;
	height:215px;
	padding: 0;
}
header h2 {
	text-indent: -9000em;
	margin: 0;
	width: 0px;
}
/* --------------------------------------------------
 main content styles
-----------------------------------------------------*/
.featured h2 {
	text-align: center;
	padding-top: 1em;
	border-top: 1px solid #999;
}
.featured h3 {
	font-size: 3em;
	text-align: center;
}
.featured p {
	font-size: 1em;
	line-height: 1.6;
}
/* --------------------------------------------------
   sidebar styles
-----------------------------------------------------*/
aside h3 {
	margin-top: 1em;
	margin-bottom: .4em;
}
.intro {
	border-top: 1px solid #999;
	padding-top: 1em;
}
ul.social {
	border: none;
	padding-top: 0;
	margin-top: 1em;
}
/* --------------------------------------------------
   spotlight styles
-----------------------------------------------------*/
.latest {
	margin-right: 0;
	margin-bottom: 1em;
	border: none;
}
.latest h3 {
	font-size: 1.6em;
	margin: .4em 0;
	padding-left: 1.2rem;
}
.latest p {
	font-size: .9em;
	line-height: 1.6;
	padding: 0 1.2rem;
}
/* --------------------------------------------------
   footer styles
-----------------------------------------------------*/
footer {
	padding: 1em 2em;
}
footer p {
	font-size: .9em;
	line-height: 1.4;
	font-weight: 100;
}
}
